/* TABLE DE STYLE---- */
/* ------------------ */
/* GLOBAL ----------- */
/* BODY ------------- */
/* DRAPEAU FRANCE --- */
/* DRAPEAU ALLEMAGNE- */
/* DRAPEAU JAPON ---- */
/* DRAPEAU SUISSE --- */
/* DRAPEAU NORVEGE -- */
/* DRAPEAU BÉNIN ---- */
/* DRAPEAU CAMEROUN - */
/* ------------------ */

/* GLOBAL ----------- */
* {
    margin: 0 auto;
    padding: 0;
}

/* BODY ------------- */
body {
    max-width: 1150px;
    margin: 20px auto;
    background-color: darkgray;
}

.flag {
    position: relative;
}

/* DRAPEAU FRANCE */
.flag:nth-of-type(1) {
    width: 270px;
    height: 180px;
    background-color: white;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 50px;
}

.flag:nth-of-type(1):before {
    content:"";
    width: 90px;
    height: 180px;
    background-color: blue;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.flag:nth-of-type(1):after {
    content:"";
    width: 90px;
    height: 180px;
    background-color: red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 180px;
}

/* DRAPEAU ALLEMAGNE */
.flag:nth-of-type(2) {
    width: 270px;
    height: 180px;
    background-color: red;
    position: absolute;
    top: 220px;
    bottom: 0;
    left: 50px;
}

.flag:nth-of-type(2):before {
    content: "";
    width: 270px;
    height: 60px;
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.flag:nth-of-type(2):after {
    content: "";
    width: 270px;
    height: 60px;
    background-color: yellow;
    position: absolute;
    top: 120px;
    bottom: 0;
    left: 0;
}

/* DRAPEAU JAPON */
.flag:nth-of-type(3) {
    width: 270px;
    height: 180px;
    background-color: white;
    position: absolute;
    top: 420px;
    bottom: 0;
    left: 50px;
}

.flag:nth-of-type(3):after {
    content: "";
    width: 90px;
    height: 90px;
    background-color: red;
    border-radius: 100%;
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 90px;
}

/* DRAPEAU SUISSE */
.flag:nth-of-type(4) {
    width: 270px;
    height: 180px;
    background-color: red;
    position: absolute;
    top: 620px;
    bottom: 0;
    left: 50px;
}

.flag:nth-of-type(4):after {
    content: '\00FE62';
    color: white;
    font-size: 440px;
    font-weight: bolder;
    position: absolute;
    top: -227.8px;
    bottom: 0;
    left: -86px;
}

/* DRAPEAU NORVEGE */
.flag:nth-of-type(5) {
    width: 270px;
    height: 180px;
    background: linear-gradient(to right, red 25%, white 25% 30%, darkblue 30% 40%, white 40% 45%, red 45%);
    position: absolute;
    top: 820px;
    bottom: 0;
    left: 50px;
}

.flag:nth-of-type(5):before {
    content: "";
    width: 81px;
    height: 55px;
    background: linear-gradient(to bottom, white 25%, darkblue 25% 75%, white 75%);
    position: absolute;
    top: 62px;
    bottom: 0;
    left: 0;
}

.flag:nth-of-type(5):after {
    content: "";
    width: 162px;
    height: 55px;
    background: linear-gradient(to bottom, white 25%, darkblue 25% 75%, white 75%);
    position: absolute;
    top: 62px;
    bottom: 0;
    left: 108px;
}

/* DRAPEAU BÉNIN */
.flag:nth-of-type(6) {
    width: 270px;
    height: 180px;
    background-color: darkgreen;
    position: absolute;
    top: 1020px;
    bottom: 0;
    left: 50px;
}

.flag:nth-of-type(6):before {
    content: "";
    width: 160px;
    height: 90px;
    background-color: yellow;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 110px;
}

.flag:nth-of-type(6):after {
    content: "";
    width: 160px;
    height: 90px;
    background-color: red;
    position: absolute;
    top: 90px;
    bottom: 0;
    left: 110px;
}

/* DRAPEAU CAMEROUN */
.flag:nth-of-type(7) {
    width: 270px;
    height: 180px;
    background: linear-gradient(to right, darkgreen 33%, red 33% 67%, yellow 67%);
    position: absolute;
    top: 1220px;
    bottom: 0;
    left: 50px;
}

.flag:nth-of-type(7):before {
    content:'\002605';
    font-size: 60px;
    color: yellow;
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 110px;
}